body{ overflow: hidden;}

.playingField {
	border-style: solid;
	border-color: green;
	border-width: 5px;
	background-color: gray;
	width: 700px;
	height: 900px;
	float:left;
}

#rightCol {
  float:right;
  margin-right:150px;
}

.me {
	border-style: solid;
	border-color: blue;
	border-width: 5px;
	border-radius: 15px;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 800px;
}

.opponent {
	border-style: solid;
	border-color: orange;
	border-width: 5px;
	border-radius: 15px;
	width: 100px;
	height: 100px;
	top: 0px;
}

.bullet {
  background-image:url("/assets/bullet.png");
	display: inline-block;
	width: 36px;
	height: 36px;
}

.bulletBlue {
  background-image:url("/assets/bullet_blue.png");
	display: inline-block;
	width: 36px;
	height: 36px;
}

.explosion {
  background-image:url("/assets/explosion.png");
	display: inline-block;
	width: 50px;
	height: 50px;
}

.explosionBlue {
  background-image:url("/assets/explosion_blue.png");
	display: inline-block;
	width: 50px;
	height: 50px;
}